html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../img/28001.jpg");
    background-size: cover;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-page {
    width: 100%;
}

.bg-body-tertiary {
    opacity: 0.65;
    padding: 0;
    width: 100%;

}

.nav-menu {
    min-width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;

}

.nav-link {
    color: black;
    font-size: 1.5em;
}

.main-page-h1 {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    justify-content: end;
}

.main-h1 {
    max-width: 700px;
    padding: 0;
    font-size: 6rem;
    right: 1.5em;
    text-align: right;
    color: lightgray;
    float: right;
}

.main-page-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.main-page-production {
    margin-top: 11em;
}

.main-page-production_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-page-production_button {
    margin-top: 3em;
    background-color: darkgray;
    width: 26rem;
    height: 7rem;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    opacity: 80%;
    font-size: 2.5rem;
}

.main-page-production_link {
    color: whitesmoke;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .main-h1 {
        margin-top: 1.3em;
        font-size: 3.2rem;
        text-align: center;
    }

    .main-page-production_button {
        width: 20rem;
        height: 8rem;
        font-size: 2rem;
        margin-top: 0;
    }
}

@media screen and (max-width: 350px) {
    .main-h1 {
        font-size: 2.4rem;
    }

    .main-page-production_button {
        width: 18rem;
        height: 8rem;
    }
}
