html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
    padding: 0;

}

.wrapper {
    min-height: 100vh;

    display: flex;
    flex-direction: column;

}

.main-page {
    width: 100%;
    height: 100vh;
}
.main-page-img {
    background-image: url("../img/app-bg.jpg");
}

.bg-body-tertiary {
    opacity: 0.5;
}

.nav-menu {
    width: 60%;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;

}
